REQUIREMENTS
 1 HARDWARE REQUIREMENTS
•	RAM- 4GB or above
•	Processor- Intel Core- 32 bit or more

 2 SOFTWARE REQUIREMENTS
•	Operating system – Any operating system
•	IDE - CodeBlocks
•	Language – C
•	Compiler - MINGW

 3 FUNCTIONAL REQUIREMENTS
•	Registration for new donor
•	Updating details of existing donors
•	View list of donors
•	Search for a donor